.square {

    width: 100px;
  
    height: 100px;
  
    box-sizing: border-box;
  
    border: 1px solid black;
  
  }
  
  
  
  #board {
  
    display: flex;
  
    margin: 0 auto;
  
    width: 500px;
  
    flex-wrap: wrap;
  
  }



.square:nth-last-of-type(2n) {
    background-color: black;
}

.square:nth-last-of-type(2n+1) {
    background-color: red;
}

.square:nth-last-of-type(2n):hover {
    background-color: aqua;
}

.square:nth-last-of-type(2n+1):hover {
    background-color: white;
}
 

























