body{
    text-transform: uppercase; 
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: #813bb9 wavy underline;
}